<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>10.2</string>
    <key>CFBundleName</key>
    <string>Yam Display</string>
    <key>DTSDKName</key>
    <string>iphoneos10.2</string>
    <key>UIMainStoryboardFile~ipad</key>
    <string>MainStoryboard_iPad</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon_yamdisplayfree29x29</string>
          <string>AppIcon_yamdisplayfree40x40</string>
          <string>AppIcon_yamdisplayfree57x57</string>
          <string>AppIcon_yamdisplayfree60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleOpaqueBlack</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Yam Display</string>
    <key>URLAppstoreRate</key>
    <string>https://itunes.apple.com/app/yam-display-free/id1044915567?mt=8</string>
    <key>DTSDKBuild</key>
    <string>14C89</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.1</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16C67</string>
    <key>DTPlatformBuild</key>
    <string>14C89</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_US</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>CFBundleVersion</key>
    <string>1.2.1</string>
    <key>MinimumOSVersion</key>
    <string>7.1</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Landscape-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Landscape</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationExitsOnSuspend</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.yamstu.yamdisplayfree</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>URLAppstore</key>
    <string>https://itunes.apple.com/app/yam-display-free/id1044915567?mt=8</string>
    <key>CFBundleExecutable</key>
    <string>Yam Display</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon_yamdisplayfree29x29</string>
          <string>AppIcon_yamdisplayfree40x40</string>
          <string>AppIcon_yamdisplayfree57x57</string>
          <string>AppIcon_yamdisplayfree60x60</string>
          <string>AppIcon_yamdisplayfree50x50</string>
          <string>AppIcon_yamdisplayfree72x72</string>
          <string>AppIcon_yamdisplayfree76x76</string>
          <string>AppIcon_yamdisplayfree83.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>UIMainStoryboardFile</key>
    <string>MainStoryboard_iPhone</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>URLAbout</key>
    <string>https://www.yamdisplay.com/about</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.yamstu.yamdisplayfree</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>yamdisplayfree</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>12D4d</string>
  </dict>
</plist>
